adfpushparrajtest/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpushparrajtest"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"GitHub_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pushparajan.github.io/"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pushparajan.github.io"
		},
		"ls_rest_api_git_hub_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().Github_URL}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GitHub')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GitHub_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_rest_api_git_hub')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Github_URL": {
						"type": "String",
						"defaultValue": "https://pushparajan.github.io/69892111-Author.json"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ls_rest_api_git_hub_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json_MetaData_Sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "metadata.json",
						"container": "testmetadata"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "integer"
						},
						"properties": {
							"type": "object",
							"properties": {
								"AuthorName": {
									"type": "string"
								},
								"AuthorImage": {
									"type": "string"
								},
								"ImageType": {
									"type": "string"
								},
								"ImageMedia": {
									"type": "string"
								},
								"ImageResolution": {
									"type": "string"
								},
								"FileName": {
									"type": "string"
								}
							}
						},
						"created_by": {
							"type": "object",
							"properties": {
								"href": {
									"type": "string"
								},
								"title": {
									"type": "string"
								}
							}
						},
						"created_on": {
							"type": "string"
						},
						"modified_by": {
							"type": "object",
							"properties": {
								"href": {
									"type": "string"
								},
								"title": {
									"type": "string"
								}
							}
						},
						"renditions": {
							"type": "object",
							"properties": {
								"downloadOriginal": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"href": {
												"type": "string"
											}
										}
									}
								},
								"metadata": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"href": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ReadJsonFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "content/asset/print/69892111",
						"container": "devpocconyt"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "integer"
						},
						"properties": {
							"type": "object",
							"properties": {
								"AuthorName": {
									"type": "string"
								},
								"AuthorImage": {
									"type": "string"
								},
								"ImageType": {
									"type": "string"
								},
								"ImageMedia": {
									"type": "string"
								},
								"ImageResolution": {
									"type": "string"
								},
								"FileName": {
									"type": "string"
								}
							}
						},
						"created_by": {
							"type": "object",
							"properties": {
								"href": {
									"type": "string"
								},
								"title": {
									"type": "string"
								}
							}
						},
						"created_on": {
							"type": "string"
						},
						"modified_by": {
							"type": "object",
							"properties": {
								"href": {
									"type": "string"
								},
								"title": {
									"type": "string"
								}
							}
						},
						"renditions": {
							"type": "object",
							"properties": {
								"downloadOriginal": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"href": {
												"type": "string"
											}
										}
									}
								},
								"metadata": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"href": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Azure_Blob_Master_Excel_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "master-list.xlsx",
						"container": "devpocconyt"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_binary_blob_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"File_Name_1": {
						"type": "string"
					},
					"Asset_ID": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().File_Name_1",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('/content/asset/print/',dataset().Asset_ID)",
							"type": "Expression"
						},
						"container": "devpocconyt"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_binary_http_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"BinaryFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().BinaryFileName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Asset_Id": {
						"type": "string"
					},
					"Folder_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().Asset_Id,'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder_Name",
							"type": "Expression"
						},
						"container": "devpocconyt"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_json_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"File_Name": {
						"type": "string"
					},
					"Folder_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().File_Name,'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder_Name",
							"type": "Expression"
						},
						"container": "devpocconyt"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "integer"
						},
						"properties": {
							"type": "object",
							"properties": {
								"FileName": {
									"type": "string"
								}
							}
						},
						"created_by": {
							"type": "object",
							"properties": {
								"href": {
									"type": "string"
								},
								"title": {
									"type": "string"
								}
							}
						},
						"created_on": {
							"type": "string"
						},
						"modified_by": {
							"type": "object",
							"properties": {
								"href": {
									"type": "string"
								},
								"title": {
									"type": "string"
								}
							}
						},
						"renditions": {
							"type": "object",
							"properties": {
								"downloadOriginal": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"href": {
												"type": "string"
											}
										}
									}
								},
								"metadata": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"href": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_final_metadata_json_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Asset_Id": {
						"type": "string"
					},
					"File_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().File_Name,'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('content/asset/metadata/',dataset().Asset_Id)",
							"type": "Expression"
						},
						"container": "devpocconyt"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "integer"
						},
						"properties": {
							"type": "object",
							"properties": {
								"ImageType": {
									"type": "string"
								},
								"ImageMedia": {
									"type": "string"
								},
								"ImageResolution": {
									"type": "string"
								},
								"AuthorName": {
									"type": "string"
								},
								"AuthorImage": {
									"type": "string"
								},
								"FileName": {
									"type": "string"
								}
							}
						},
						"created_by": {
							"type": "object",
							"properties": {
								"href": {
									"type": "string"
								},
								"title": {
									"type": "string"
								}
							}
						},
						"created_on": {
							"type": "string"
						},
						"modified_by": {
							"type": "object",
							"properties": {
								"href": {
									"type": "string"
								},
								"title": {
									"type": "string"
								}
							}
						},
						"renditions": {
							"type": "object",
							"properties": {
								"downloadOriginal": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"href": {
												"type": "string"
											}
										}
									}
								},
								"metadata": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"href": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_get_json_rest_api_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_rest_api_git_hub",
					"type": "LinkedServiceReference",
					"parameters": {
						"Github_URL": {
							"value": "@dataset().GitHub_URL",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"GitHub_URL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_rest_api_git_hub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_rest_api_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GitHub",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_Asset_ID": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat(dataset().P_Asset_ID,'.json')",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GitHub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Child_Get_Image')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Read_Json_From_blob",
						"description": "This is from Feature Branch",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_blob_json",
								"type": "DatasetReference",
								"parameters": {
									"Asset_Id": {
										"value": "@pipeline().parameters.Asset_ID",
										"type": "Expression"
									},
									"Folder_Name": {
										"value": "@concat('content/asset/print/',pipeline().parameters.Asset_ID)",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Read_Json_From_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Read_Json_From_blob').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Download_Image_to_Blob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_binary_http_src",
											"type": "DatasetReference",
											"parameters": {
												"BinaryFileName": {
													"value": "@activity('Read_Json_From_blob').output.value[0].properties.FileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_binary_blob_sink",
											"type": "DatasetReference",
											"parameters": {
												"File_Name_1": {
													"value": "@activity('Read_Json_From_blob').output.value[0].properties.FileName",
													"type": "Expression"
												},
												"Asset_ID": {
													"value": "@pipeline().parameters.Asset_ID",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Asset_ID": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-25T01:05:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob_json')]",
				"[concat(variables('factoryId'), '/datasets/ds_binary_http_src')]",
				"[concat(variables('factoryId'), '/datasets/ds_binary_blob_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Child_Get_Json_Files_in_Asset_File')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_asset_jsob_in_Blob",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_blob_json",
								"type": "DatasetReference",
								"parameters": {
									"Asset_Id": {
										"value": "@pipeline().parameters.Asset_Id",
										"type": "Expression"
									},
									"Folder_Name": {
										"value": "@concat('content/asset/print/',pipeline().parameters.Asset_ID)",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lkp_asset_jsob_in_Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lkp_asset_jsob_in_Blob').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Download_Author_Json_Files",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_api_src",
											"type": "DatasetReference",
											"parameters": {
												"P_Asset_ID": {
													"value": "@concat(item().ID,'-Author')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_blob_json_sink",
											"type": "DatasetReference",
											"parameters": {
												"File_Name": {
													"value": "@concat(item().id,'-Author')",
													"type": "Expression"
												},
												"Folder_Name": {
													"value": "@concat('/content/asset/print/',item().id)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Download_Metadata_Json_Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Download_Author_Json_Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_api_src",
											"type": "DatasetReference",
											"parameters": {
												"P_Asset_ID": {
													"value": "@concat(item().ID,'-Metadata')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_blob_json_sink",
											"type": "DatasetReference",
											"parameters": {
												"File_Name": {
													"value": "@concat(item().id,'-Metadata')",
													"type": "Expression"
												},
												"Folder_Name": {
													"value": "@concat('/content/asset/print/',item().id)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Asset_Id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-25T01:05:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob_json')]",
				"[concat(variables('factoryId'), '/datasets/ds_rest_api_src')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob_json_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Prepare_Final_MetaData_Json')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Prepare_MetaDataJson",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@concat('content/asset/print/',pipeline().parameters.Asset_Id)",
										"type": "Expression"
									},
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"path": "$['id']"
										}
									},
									{
										"source": {
											"path": "$['properties']['AuthorName']"
										},
										"sink": {
											"path": "$['properties']['AuthorName']"
										}
									},
									{
										"source": {
											"path": "$['properties']['AuthorImage']"
										},
										"sink": {
											"path": "$['properties']['AuthorImage']"
										}
									},
									{
										"source": {
											"path": "$['properties']['ImageType']"
										},
										"sink": {
											"path": "$['properties']['ImageType']"
										}
									},
									{
										"source": {
											"path": "$['properties']['ImageMedia']"
										},
										"sink": {
											"path": "$['properties']['ImageMedia']"
										}
									},
									{
										"source": {
											"path": "$['properties']['ImageResolution']"
										},
										"sink": {
											"path": "$['properties']['ImageResolution']"
										}
									},
									{
										"source": {
											"path": "$['properties']['FileName']"
										},
										"sink": {
											"path": "$['properties']['FileName']"
										}
									},
									{
										"source": {
											"path": "$['renditions']['downloadOriginal'][0]['href']"
										},
										"sink": {
											"path": "$['renditions']['downloadOriginal']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ReadJsonFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_final_metadata_json_sink",
								"type": "DatasetReference",
								"parameters": {
									"Asset_Id": {
										"value": "@pipeline().parameters.Asset_Id",
										"type": "Expression"
									},
									"File_Name": {
										"value": "metadata",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Asset_Id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-24T17:46:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ReadJsonFiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_final_metadata_json_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Pipelines')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Read_Master_Excel",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "ds_Azure_Blob_Master_Excel_src",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Asset_ID",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Read_Master_Excel",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Read_Master_Excel').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy_json_To_blob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_api_src",
											"type": "DatasetReference",
											"parameters": {
												"P_Asset_ID": {
													"value": "@item().id",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_blob_json_sink",
											"type": "DatasetReference",
											"parameters": {
												"File_Name": {
													"value": "@item().ID",
													"type": "Expression"
												},
												"Folder_Name": {
													"value": "@concat('content/asset/print/',item().id)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Call_Get_Image_pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Copy_json_To_blob",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Child_Get_Image",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Asset_ID": {
												"value": "@item().ID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Get_Asset_JSON_Files",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Call_Get_Image_pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Child_Get_Json_Files_in_Asset_File",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Asset_Id": {
												"value": "@item().ID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Prepare_Final_MetaData_Json",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Get_Asset_JSON_Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Prepare_Final_MetaData_Json",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Asset_Id": {
												"value": "@item().ID",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-24T17:46:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Azure_Blob_Master_Excel_src')]",
				"[concat(variables('factoryId'), '/datasets/ds_rest_api_src')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob_json_sink')]",
				"[concat(variables('factoryId'), '/pipelines/Child_Get_Image')]",
				"[concat(variables('factoryId'), '/pipelines/Child_Get_Json_Files_in_Asset_File')]",
				"[concat(variables('factoryId'), '/pipelines/Prepare_Final_MetaData_Json')]"
			]
		}
	]
}