pipeline/Child_Get_Image.json
{
	"name": "Child_Get_Image",
	"properties": {
		"activities": [
			{
				"name": "Read_Json_From_blob",
				"description": "This is from Feature Branch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_blob_json",
						"type": "DatasetReference",
						"parameters": {
							"Asset_Id": {
								"value": "@pipeline().parameters.Asset_ID",
								"type": "Expression"
							},
							"Folder_Name": {
								"value": "@concat('tmp/',pipeline().parameters.Asset_ID)",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read_MetaData_From_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read_Json_From_blob').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Download_Image_to_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_binary_http_src",
									"type": "DatasetReference",
									"parameters": {
										"BinaryFileName": {
											"value": "@activity('Read_Json_From_blob').output.value[0].properties.FileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_binary_blob_sink",
									"type": "DatasetReference",
									"parameters": {
										"File_Name_1": {
											"value": "@activity('Read_Json_From_blob').output.value[0].properties.FileName",
											"type": "Expression"
										},
										"Asset_ID": {
											"value": "@pipeline().parameters.Asset_ID",
											"type": "Expression"
										},
										"Folder_Name": {
											"value": "@concat('/content/asset/',activity('Read_MetaData_From_blob').output.value[0].properties.ImageMedia,'/',pipeline().parameters.Asset_ID)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Move_Files_to_Media_Folder",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Download_Image_to_Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('/tmp/',pipeline().parameters.Asset_ID)",
											"type": "Expression"
										},
										"wildcardFileName": "*.json",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ReadJsonFiles",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "write_json_files_to_meida_folder",
									"type": "DatasetReference",
									"parameters": {
										"Folder_Name": {
											"value": "@concat('/content/asset/',activity('Read_MetaData_From_blob').output.value[0].properties.ImageMedia,'/',pipeline().parameters.Asset_ID)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Read_MetaData_From_blob",
				"description": "This is from Feature Branch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Read_Json_From_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_blob_json",
						"type": "DatasetReference",
						"parameters": {
							"Asset_Id": {
								"value": "@concat(pipeline().parameters.Asset_ID,'-Metadata')",
								"type": "Expression"
							},
							"Folder_Name": {
								"value": "@concat('tmp/',pipeline().parameters.Asset_ID)",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"Asset_ID": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-25T01:05:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}