pipeline/Master_Pipelines.json
{
	"name": "Master_Pipelines",
	"properties": {
		"activities": [
			{
				"name": "Read_Master_Excel",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "ds_Azure_Blob_Master_Excel_src",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Asset_ID",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read_Master_Excel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read_Master_Excel').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy_json_To_blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_api_src",
									"type": "DatasetReference",
									"parameters": {
										"P_Asset_ID": {
											"value": "@item().id",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blob_json_sink",
									"type": "DatasetReference",
									"parameters": {
										"File_Name": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"Folder_Name": {
											"value": "@concat('tmp/',item().id)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Call_Get_Image_pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get_Asset_JSON_Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Child_Get_Image",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Asset_ID": {
										"value": "@item().ID",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get_Asset_JSON_Files",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy_json_To_blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Child_Get_Json_Files_in_Asset_File",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Asset_Id": {
										"value": "@item().ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-24T17:46:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}